# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# MarkSuckerberg
/code/controllers/subsystem/shuttle.dm @MarkSuckerberg
/code/modules/shuttle/ @MarkSuckerberg
/code/modules/overmap/ @MarkSuckerberg

# Teams

# Code Maintainers
/code/ @shiptest-ss13/maintainers

# Map Maintainers
/_maps/ @shiptest-ss13/maptainers

# Sprite Maintainers
/icons/ @shiptest-ss13/spritetainers
/whitesands/icons/ @shiptest-ss13/spritetainers

# CI and tool chains
/tools/ @shiptest-ss13/admins

#SIC SEMPER TYRANNIS
/_maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm @MarkSuckerberg
