# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Kapu1178
/code/modules/mob/living/carbon/ @Kapu1178
/code/modules/surgery/bodyparts/ @Kapu1178

# MarkSuckerberg
/code/controllers/subsystem/shuttle.dm @MarkSuckerberg
/code/modules/shuttle/ @MarkSuckerberg
/whitesands/code/modules/overmap/ @MarkSuckerberg

# triplezeta
/icons/ @triplezeta
/whitesands/icons/ @triplezeta

#SIC SEMPER TYRANNIS
/_maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm @MarkSuckerberg
