# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# TEAMS

# Map Maintainers
/_maps/ @shiptest-ss13/maptainers

# Sprite Maintainers
/icons/ @shiptest-ss13/spritetainers

# Code Maintainers
/code/ @shiptest-ss13/maintainers


# CI and tool chains
/tools/ @shiptest-ss13/admins


# MAINTAINERS

# FalloutFalcon

/code/game/objects/items/storage/ration.dm @FalloutFalcon
/code/modules/food_and_drinks/drinks/drinks/breakawayflask.dm @FalloutFalcon
/code/modules/food_and_drinks/food/ration.dm @FalloutFalcon
/code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm @FalloutFalcon
/code/modules/projectiles/gun.dm @FalloutFalcon
/code/modules/projectiles/projectile.dm @FalloutFalcon
/code/modules/projectiles/guns/ballistic.dm @FalloutFalcon
/code/modules/projectiles/guns/energy.dm @FalloutFalcon
/code/modules/projectiles/guns/powered.dm @FalloutFalcon
/code/modules/reagents/chemistry/reagents/trickwine_reagents.dm @FalloutFalcon
/code/modules/unit_tests/icons/ @FalloutFalcon
/code/modules/missions/ @FalloutFalcon
/code/modules/cargo/exports/ @FalloutFalcon
/code/modules/cargo/exports.dm @FalloutFalcon

# MarkSuckerberg

/code/controllers/subsystem/shuttle.dm @MarkSuckerberg
/code/modules/shuttle/ @MarkSuckerberg
/code/modules/overmap/ @MarkSuckerberg
/_maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm @MarkSuckerberg


# CONTRIBUTORS


# MULTIPLE OWNERS
