.dockerignore
.editorconfig
GPLv3.txt
LICENSE
README.md
TGS3.json
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
SQL
node_modules
tgstation.dmb
tgstation.int
tgstation.rsc
tgstation.lk
tgstation.dyn.rsc
shiptest.dmb
shiptest.int
shiptest.rsc
shiptest.lk
shiptest.dyn.rsc
*.dll
Dockerfile
tools/bootstrap/.cache
