@use '../colors.scss';

.CrewManifest {
  &__Cell {
    padding: 3px 0;

    &--Rank {
      color: colors.$label;
    }
  }

  &__Icons {
    padding: 3px 9px;
    text-align: right;
  }

  &__Icon {
    color: colors.$label;
    position: relative;

    &:not(:last-child) {
      margin-right: 7px;
    }

    &--Officer {
      padding-right: 2px;
    }

    &--Captain {
      color: colors.$yellow;
    }
  }
}
