name: Make changelogs

on:
  push:
    branches:
      - master

jobs:
  MakeCL:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 25
      - name: Python setup
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install depends
        run: |
          python -m pip install --upgrade pip
          pip install ruamel.yaml PyGithub
      - name: Make CL
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGELOG_TOKEN || secrets.GITHUB_TOKEN }}
          GIT_EMAIL: "action@github.com"
          GIT_NAME: "Changelogs"
        run: python tools/changelog/generate_cl.py
